<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Blog</title>
</head>

<body>
    <header>
        <h1><a href="">Django Blog</a> </h1>
    </header>
    <div>
        <h2><a href="">First Post</a> </h2>
        <p><strong>Published : Once in your life</strong></p>
        <p>First Post!!!</p>
    </div>

    <br />
    <br />

    <div>
        <h2><a href="">Second Post</a> </h2>
        <p><strong>Published : Once in your life</strong></p>
        <p>Second Post!!!</p>
    </div>

    <br />
    <br />

    <div>
        <h2><a href="">Third Post</a> </h2>
        <p><strong>Published : Once in your life</strong></p>
        <p>Third Post!!!</p>
    </div>
</body>
</html>